{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<style>
    .jumbotron-fluid, .display-4{
        color: #fff;
        background-image: url("{% static 'images/hero-bg.jpg' %}");
        background-size: cover;
        background-position: center;
    }
</style>
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4"><strong>Welcome To <strong>Toko Ku</strong> </strong>  </h1>
      <p class="lead">Happy Shopping according to your needs</p>
    </div>
  </div>
<div class="row">

    
    {% for product in products %}
    
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            
                <a class="btn btn-outline-success" href="/view/{{product.id}}">View</a>
                <h4 style="float: right;"><strong>$ {{product.price}} </strong></h4>

            </div>
        </div>
        
    {% endfor %}
        

   
</div>
{% endblock content %}
    
